<template>
    <div class="card card-default shadow">
        <div class="card-header"><h3>
            {{match.name}}
            <i v-if="loading" class="fas fa-cog fa-spin"></i>
        </h3></div>

        <div class="card-body text-center">
            <div v-if="ended && isWinner" class="alert alert-primary" role="alert">
                The winner is

                <h3>
                    <span class="badge badge-pill badge-info">{{ winner }}</span>
                </h3>
            </div>

            <div v-if="ended && !isWinner" class="alert alert-warning" role="alert">
                <h3>
                    <span class="badge badge-pill badge-danger">No winner! ;(</span>
                </h3>
            </div>

            <div v-if="!ended"  class="alert alert-dark" role="alert">
                Next

                <h3>
                    <span class="badge badge-pill badge-secondary">{{ next() }}</span>
                </h3>
            </div>

            <div v-if="!currentPlayer && !ended">
                Who are you?

                <button class="btn btn-sm btn-outline-warning btn-light" @click="playAs(1)">
                    <strong>X</strong>
                </button>

                <button class="btn btn-sm btn-outline-info btn-light" @click="playAs(2)">
                    <strong>O</strong>
                </button>
            </div>

            <div v-else class="mt-3">
                <h2 v-if="!ended" >
                    <span v-html="matching"></span>
                </h2>

                <table id="board" class="board mt-5">
                    <tr>
                        <td id="one" @click="move(0)">{{ field(0) }}</td>
                        <td id="two" @click="move(1)">{{ field(1) }}</td>
                        <td id="three" @click="move(2)">{{ field(2) }}</td>
                    </tr>
                    <tr>
                        <td id="four" @click="move(3)">{{ field(3) }}</td>
                        <td id="five" @click="move(4)">{{ field(4) }}</td>
                        <td id="six" @click="move(5)">{{ field(5) }}</td>
                    </tr>
                    <tr>
                        <td id="seven" @click="move(6)">{{ field(6) }}</td>
                        <td id="eight" @click="move(7)">{{ field(7) }}</td>
                        <td id="nine" @click="move(8)">{{ field(8) }}</td>
                    </tr>
                </table>
            </div>

            <hr>

            <div class="text-left">
                <a href="#" class="btn btn-sm btn-outline-dark btn-light" @click="back">
                    <i class="fas fa-arrow-alt-circle-left"></i> Back
                </a>
            </div>
        </div>
    </div>
</template>

<script>
  const RELOAD_TIME = 3000;
  import swal from 'sweetalert2/dist/sweetalert2.js'

  export default {
    props: [
      'match',
      'inMatch',
      'loading'
    ],
    data () {
      return {
        currentPlayer: null,
        timeout: null,
        robotPlayer: false,
        robotIsTheFirstToPlay: false
      }
    },
    computed: {
      ended () {
        return this.match.ended === true || this.match.ended === 1
      },
      matching() {
        return this.currentPlayer !== this.match.next
          ? '<span class="badge badge-pill badge-warning"><i class="fas fa-robot"></i> Robot</span>'
          : '<span class="badge badge-pill badge-info"><i class="fas fa-user-alt"></i> You</span>';
      },
      isWinner () {
        return this.match.winner !== 0
      },
      winner () {
        return this.player(this.match.winner)
      },
    },
    methods: {
      playAs (player) {
        this.currentPlayer = player
        this.gameStarted = true

        if (this.match.next !== this.currentPlayer && ! this.ended) {
          this.robotPlayer = true
          this.robotIsTheFirstToPlay = true
        }
      },
      field (index) {
        return this.player(this.match.board[index])
      },
      next () {
        return this.player(this.match.next)
      },

      player (value) {
        return value === 1 ? 'X' : (value === 2 ? 'O' : '')
      },
      move (position) {
        const that = this

        if (that.ended) {
          swal({
            type: 'error',
            title: 'Oops...',
            text: 'This game is complete.'
          })

          return;
        }

        if (that.match.next !== that.currentPlayer) {
          swal({
            type: 'info',
            title: 'Oops...',
            text: 'Wait your turn to play.'
          })

          return;
        }

        if (that.match.board[position] !== 0 && that.match.board[position] !== that.currentPlayer) {
          swal({
            type: 'error',
            title: 'Oops...',
            text: 'Choose another move!'
          })

          return;
        }

        if (! that.ended) {
          that.robotIsTheFirstToPlay = false

          that.$emit('move', {
            position: position,
            id: that.match.id,
            currentPlayer: this.currentPlayer,
            isRobot: false
          }, (ended) => {
            if (!ended) {
              setTimeout(() => {
                that.$emit('move', {
                  id: that.match.id,
                  currentPlayer: that.match.next !== 2 ? 1 : 2,
                  isRobot: true
                })

                this.robotPlayer = false
              }, RELOAD_TIME)
            }
          })

          this.robotPlayer = true
        }
      },
      load () {
        if (!this.loading) {
          this.$emit('load')
        }
      },
      back () {
        this.$emit('showMatches')
      }
    },
    mounted () {

    },
    beforeUpdate () {
      if (this.robotPlayer && this.robotIsTheFirstToPlay && !this.ended) {
        setTimeout(() => {
          this.$emit('move', {
            id: this.match.id,
            currentPlayer: this.match.next !== 2 ? 1 : 2,
            isRobot: true
          })

          this.robotPlayer = false
        }, RELOAD_TIME)
      }
    }
  }
</script>

<style scoped="scoped">
    .board {
        margin: 0 20%;
        width: 60%;
        padding: 0;
        font-size: 600%;
        font-weight: bold;
    }

    .board td {
        height: 140px;
        text-align: center;
        vertical-align: middle;
        width: 100px;
        cursor: pointer;
    }

    .board td:hover {
        font-weight: bold;
    }

    .board #one,
    .board #two {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    .board #three,
    .board #six {
        border-bottom: 1px solid black;
    }

    .board #four,
    .board #five {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    .board #seven,
    .board #eight {
        border-right: 1px solid black;
    }

</style>
