<template>
    <div class="card card-default shadow">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a href="#" class="btn btn-sm btn-outline-success btn-light" @click="createMatch" :disabled="loading">
                        <i class="fas fa-plus"></i> New Match
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body p-0">
            <h3 class="card-title pt-3 pl-3">
                <i class="fas fa-gamepad"></i> Matches <i v-if="loading" class="fas fa-cog fa-spin"></i>
            </h3>

            <template v-if="matches.length && !loading">
                <table class="table table-striped table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Ended</th>
                        <th scope="col">Finished At</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="match in matches">
                        <td>
                            <div class="btn-group btn-group-sm" role="group" v-if="match.ended">
                                <button type="button" class="btn btn-outline-info" @click="showMatch(match.id)">
                                    <i class="fas fa-eye"></i> See Result
                                </button>

                                <button type="button" class="btn btn-outline-danger" @click="removeMatch(match.id)">
                                    <i class="fas fa-times-circle"></i> Remove
                                </button>
                            </div>

                            <div class="btn-group btn-group-sm" role="group" v-if="!match.ended">
                                <button type="button" class="btn btn-outline-success" @click="showMatch(match.id)">
                                    <i class="fas fa-sign-in-alt"></i> Play
                                </button>

                                <button type="button" class="btn btn-outline-danger" @click="removeMatch(match.id)">
                                    <i class="fas fa-times-circle"></i> Remove
                                </button>
                            </div>
                        </td>
                        <td scope="row">{{ match.name }}</td>
                        <td>
                            <div v-html="player(match.winner)"></div>
                        </td>
                        <td>
                            <div v-html="ended(match.ended)"></div>
                        </td>
                        <td>{{ match.finished_at }}</td>
                    </tr>
                    </tbody>
                </table>
            </template>

            <a v-if="loading" class="list-group-item text-body text-center">
                <i class="fas fa-cog fa-spin"></i> Loading...
            </a>

            <span v-if="!loading && matches.length === 0" class="list-group-item text-body text-center">
                <i class="fas fa-info-circle"></i> Matches does not found.
            </span>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['matches', 'loading'],
    methods: {
      showMatch (id) {
        this.$emit('showMatch', id)
      },
      createMatch () {
        this.$emit('createMatch')
      },
      removeMatch (id) {
        this.$emit('removeMatch', id)
      },
      player (value) {
        return value === 1
          ? '<strong class="badge badge-pill badge-info">X</strong>'
          :
          (value === 2
              ? '<strong class="badge badge-pill badge-primary">O</strong>'
              : '---'
          )
      },
      ended (value) {
        return value === 1
          ? '<span class="badge badge-pill badge-success">Yes</span>'
          : '<span class="badge badge-pill badge-warning">No</span>'
      },
    }
  }
</script>